/* Parent container holding all screens */
.container {
    position: relative;
    //width: 100vw;
    //height: 100vh;
}

/* General Screen Style */
.screen {
    flex-direction: column;
    //padding: 10px;
    //height: 100%;
    background-color: #000000;
    color: #FFFFFF;
}

/* Verse List Style */
.verse-list {
    margin: 10px;
    padding: 10px;
    overflow-y: auto;
    height: 300px;
    flex-grow: 1;
    background-color: #000000;
    color: #FFFFFF;
}

/* Individual verse list item */
.verse-list li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: #f0f0f0;
    margin-bottom: 5px;
}

/* Floating Button Style */
.floating-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 50%;
    font-size: 24px;
    transition: 0.3s;
}

/* Common Header Style */
.common-header {
    position: sticky;
    top:0;
    display: flex;
    align-items: center;
    //width: 100%;
    padding: 10px;
    justify-content: space-between;
    background-color: rgba(34, 34, 34, 0.8);
    color: #FFFFFF;
}

/* Common Footer Style */
.common-footer {
    position: fixed;
    bottom: 0;
    //width: 100%;
    padding: 10px;
    background-color: rgba(34, 34, 34, 0.8);
    color: #FFFFFF;
}

/* Back Button Style */
.back-button {
    margin-right: 10px;
    color: black;
}

/* Dynamic List Style */
.dynamic-list {
    margin: 10px 0;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 5px;
    background-color: #444444;
    color: #FFFFFF;
}

/* Dynamic List Div Item */
.dynamic-list div {
    padding: 10px;
    border-bottom: 1px solid #eee;
    background-color: #000000;
    color: #FFFFFF;
}

/* Confirm Button Style */
.confirm-button {
    //width: 100%;
    padding: 10px;
    color: #FFFFFF;
    background-color: #007bff;
    border: none;
    cursor: pointer;
}

/* Disabled Confirm Button Style */
.confirm-button[disabled] {
    background-color: #ccc;
}

/* Text Display for Screen 3 */
.text-display {
    flex-grow: 1;
    overflow-y: auto;
    padding: 15px;
    line-height: 1.6;
    font-size: 18px;
    background-color: #444444;
    color: #FFFFFF;
}

/* Advanced Search for Screen 4 */
.advanced-search {
    padding: 10px;
    display: none;
    background-color: #444444;
    color: #FFFFFF;
}

/* Search Bar for Screen 4 */
.search-bar {
    display: flex;
    margin: 10px;
}

/* Search Bar Input for Screen 4 */
.search-bar input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}

/* Icon Button for Screen 4 */
.icon-button {
    padding: 10px;
    border: none;
    background: none;
    color: #FFFFFF;
}

/* Search Results for Screen 4 */
.search-results {
    overflow-y: auto;
    margin: 10px;
    padding: 5px;
    border: 1px solid #eee;
    background-color: #444444;
    color: #FFFFFF;
}

/* Search Results Div for Screen 4 */
.search-results div {
    padding: 10px;
    border-bottom: 1px solid #eee;
    background-color: #000000;
    color: #FFFFFF;
}

