:root {
    --Accent1: #8800ff;
    --Accent2: #0f0;
    --Foreground: #fff;
    --Background: #000;
    --FontSize: 18px;
}

:root {
    --MainBGcolor: var(--Background);
    --Maincolor: var(--Foreground);
    --InputBGcolor: color-mix(in srgb, var(--Accent1) 10%, var(--Foreground) 90%);
    --Inputcolor: color-mix(in srgb, var(--Background) 80%, var(--Accent1) 20%);
    --InputHVRcolor: color-mix(in srgb, var(--Accent1) 30%, var(--Foreground) 70%);
    --linklistBGcolor: color-mix(in srgb, var(--Background) 70%, var(--Foreground) 30%);
    --Refcolor: var(--Accent2);
    --headerBGcolor: color-mix(in srgb, var(--Accent1) 40%, transparent);
    --selected: color-mix(in srgb, var(--Foreground) 50%, var(--Background) 50%);
    --accent: color-mix(in srgb, var(--Accent1) 80%, var(--Accent2) 20%);
}

.main-theme {
    --MainBGcolor: var(--Background);
    --Maincolor: var(--Foreground);
    --InputBGcolor: color-mix(in srgb, var(--Accent1) 10%, var(--Background) 90%);
    --Inputcolor: color-mix(in srgb, var(--Foreground) 80%, var(--Accent1) 20%);
    --InputHVRcolor: color-mix(in srgb, var(--Accent1) 30%, var(--Background) 70%);
    --linklistBGcolor: color-mix(in srgb, var(--Background) 70%, var(--Foreground) 30%);
    --Refcolor: var(--Accent2);
    --headerBGcolor: color-mix(in srgb, var(--Accent1) 40%, transparent);
    --selected: color-mix(in srgb, var(--Foreground) 50%, var(--Background) 50%);
    --accent: color-mix(in srgb, var(--Accent1) 80%, var(--Accent2) 20%);
}

.inverted-input-theme {
    --MainBGcolor: var(--Background);
    --Maincolor: var(--Foreground);
    --InputBGcolor: color-mix(in srgb, var(--Accent1) 10%, var(--Foreground) 90%);
    --Inputcolor: color-mix(in srgb, var(--Background) 80%, var(--Accent1) 20%);
    --InputHVRcolor: color-mix(in srgb, var(--Accent1) 30%, var(--Foreground) 70%);
    --linklistBGcolor: color-mix(in srgb, var(--Background) 70%, var(--Foreground) 30%);
    --Refcolor: var(--Accent2);
    --headerBGcolor: color-mix(in srgb, var(--Accent1) 40%, transparent);
    --selected: color-mix(in srgb, var(--Foreground) 50%, var(--Background) 50%);
    --accent: color-mix(in srgb, var(--Accent1) 80%, var(--Accent2) 20%);
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    color: var(--Maincolor);
    background: var(--MainBGcolor);
    font-size: 1em;
    -ms-content-zooming: none;
    overscroll-behavior-y: none;
    /* Disable pull-to-refresh */
}

#container {
    height: 100%;
    overflow: auto;
}

.main-content {
    overflow-x: hidden;
    padding: 0 0.5em;
}

.container {
    position: relative;
}

.screen {
    flex-direction: column;
    display: none;
    background-color: var(--MainBGcolor);
    color: var(--Maincolor);
}

.verse-list {
    overflow-y: auto;
    flex-grow: 1;
    background-color: var(--MainBGcolor);
    color: var(--Maincolor);
}

.floating-btn,
.floating-btnLFT {
    position: fixed;
    bottom: 1em;
    width: 0.3em;
    height: 0.3em;
    border: none;
    background-color: var(--linklistBGcolor);
    color: var(--Foreground);
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    text-align: center;
}

.floating-btn {
    border-radius: 0.5em 1em;
    right: 1em;
}

.floating-btnLFT {
    border-radius: 1em 0.5em;
    left: 1em;
}

.common-header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    padding: 0.5em;
    justify-content: space-between;
    background-color: var(--headerBGcolor);
    backdrop-filter: blur(0.5em);
    /* Frosted glass effect */
    -webkit-backdrop-filter: blur(0.5em);
    /* Safari support */
    color: var(--Maincolor);
    height: 3em;
}

.common-header h1 {
    margin: 0;
    font-size: min(10vw - 0.5em, 2em);
    /* Limits font size */
    white-space: nowrap;
}

.common-footer {
    position: fixed;
    bottom: 0;
    /* padding: 1em; */
    background-color: var(--headerBGcolor);
    color: var(--Maincolor);
}

.note-editor {
    position: relative;
    width: 100%;
    height: 5em;
    font-size: 1.5em;
    box-sizing: border-box;
    resize: none;
    transition: height 0.3s, top 0.3s;
}

.note-editor:focus {
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100%;
}

.noteEditerEscape {
    position: fixed;
    top: 1em;
    right: 1em;
    box-shadow: 0 0 0.5em 0.1em var(--Inputcolor);
    display: none;
}

.note-editor:focus+.noteEditerEscape {
    display: inline-block;
}

.back-button {
    color: var(--Inputcolor);
}

.dynamic-list {
    margin: 0.5em 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0.5em;
    color: var(--Maincolor);
}

.dynamic-list div {
    padding: 0.5em;
    background-color: var(--MainBGcolor);
    color: var(--Maincolor);
}

.enhance-spacing .text-display {
    word-spacing: 0.5em;
    letter-spacing: 0.1em;
    line-height: 1.5;
}

.enhance-spacing p.Contents {
    margin: 1em;
}

.text-display {
    flex-grow: 1;
    overflow-y: auto;
    font-size: var(--FontSize);
    color: var(--Maincolor);
    text-align: justify;
    max-width: 20em;
    margin: auto;
}

.chapterElement>p.Contents:last-of-type {
    min-height: calc(100vh - 5em);
    /* header height */
}

p.Contents {
    text-indent: 1em;
    margin: 0;
}

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Noto+Sans&family=Lexend+Deca&family=PT+Serif&display=swap');

.Fontserif {
    font-family: serif;
}

.Fontsansserif {
    font-family: sans-serif;
}

.Merriweather {
    font-family: 'Merriweather', Georgia, 'Times New Roman', serif;
}

.NotoSans {
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
}

.LexendDeca {
    font-family: 'Lexend Deca', Verdana, Tahoma, sans-serif;
}

.PTSerif {
    font-family: 'PT Serif', 'Times New Roman', serif;
}

SPAN.VerseNum,
.BibleReference {
    padding: 1em;
    color: var(--Refcolor);
    font-style: italic;
}

SPAN.BookmarkNumber {
    border: 1px solid var(--Refcolor);
    border-radius: 50%;
    padding: 0.5em;
}

SPAN.NoteNumber {
    border-radius: 50%;
    padding: 0.5em;
    box-shadow: 0 0 0.5em 0.1em var(--Accent1);
}

strong.LORDCAPS {
    font-variant: small-caps;
}

input,
select,
button,
textarea {
    font-size: 1em;
    font-family: inherit;
    background-color: var(--InputBGcolor);
    border-radius: 0.6em 0.3em;
    border-width: 0;
    margin: 0.2em;
    padding: 0.3em;
    transition: background-color 0.3s;
    color: var(--Inputcolor);
    box-shadow: 0 0 0.5em 0.1em var(--Inputcolor);
}

input:hover,
button:hover,
select:hover {
    background-color: var(--InputHVRcolor);
    text-shadow: 0 0 0.25em white;
}

span.SearchResult {
    font-size: var(--FontSize);
    background: var(--linklistBGcolor);
    border-left: 0.2em solid var(--linklistBGcolor);
    border-right: 0.2em solid var(--linklistBGcolor);
    border-radius: 1em;
    margin: 0.1em;
    color: var(--Maincolor);
    cursor: pointer;
    display: block;
    padding: 0.5em;
    transition: background-color 0.3s;
    overflow: hidden;
    text-align: justify;
    /* Helps contain floated children */
}

.last-seen {
    float: right;
    font-size: 0.85em;
    font-style: italic;
    margin-left: 1em;
    /* Pushes it to the right edge */
}


span.selectedmark {
    background-color: var(--selected);
    text-shadow: 0em 0em 0.5em var(--Background);
}
p.selectedmark .VerseNum{
    text-shadow: 0em 0em 0.5em var(--Accent1);
    color: var(--Accent1);
}

span.SearchResult:hover,
span.SearchResult:active {
    text-decoration: none;
    text-shadow: 0em 0em 1em white;
}

span.resultmark {
    background-color: var(--selected);
    border-radius: 0.6em 0.3em;
    padding: 0 0.6em;
    /* Horizontal padding only */
    text-shadow: 0em 0em 0.5em var(--Background);
}

.verse-nav-button {
    display: block;
    padding: 0.5em 0.5em;
    margin: 0.2em;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--Maincolor);
    background-color: var(--linklistBGcolor);
    border-radius: 0.5em 1em;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.verse-nav-button:hover {
    background-color: var(--InputHVRcolor);
    color: var (--Maincolor);
    transform: scale(1.05);
}

.verse-nav-button:active {
    background-color: var(--Inputcolor);
    color: var(--MainBGcolor);
    transform: scale(0.95);
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #444;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loading-spinner {
    border: 0.8em solid #aaa;
    border-radius: 50%;
    width: 6em;
    height: 6em;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        border-radius: 100% 0%;
        border-color: #fff #000;
    }

    25% {
        border-radius: 0% 100%;
    }

    50% {
        border-radius: 100% 0%;
        border-color: #000 #fff;
    }

    75% {
        border-radius: 0% 100%;
    }

    100% {
        border-radius: 100% 0%;
        border-color: #fff #000;
    }

}

.loading-screen p {
    margin-top: 2em;
    font-size: 1.8em;
    color: #ccc;
}

/* Tag Item */
.tag-item {
    display: inline-block;
    padding: 0.5em 1em;
    margin: 0.2em;
    background-color: var(--linklistBGcolor);
    color: var(--Maincolor);
    border-radius: 0.3em;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.tag-item.selected {
    background-color: var(--MainBGcolor);
    color: var(--Refcolor);
}

.copymark {
    color: var(--selected);
    transform: scale(1.1);
    transition: color 0.5s ease, transform 0.5s;
}

.copymark::after {
    content: "Copied!";
    font-size: 3em;
    color: var(--Maincolor);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#fullscreenDiv {
    position: absolute;
    background-color: var(--Background);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* display: flex; */
    display: none;
    flex-direction: column;
}
.Flipline {
    flex: 1;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    padding-left: 10px;
    box-sizing: border-box;
}

.setting-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
    padding: 1.5em 1em;
    border-bottom: 0.1em solid #ccc;
    background-color: transparent;
    color: var(--Foreground);
    transition: background-color 0.3s, color 0.3s;
}

.toggle-wrapper {
    position: relative;
    width: 4em;
    height: 2em;
    cursor: pointer;
}

.toggle-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--InputBGcolor);
    border-radius: 1em 0.5em;
    cursor: pointer;
    transition: background-color 0.4s;
    box-shadow: inset 0 0 0.5em var(--Background);
    box-shadow: 0 0 0.5em 0.1em var(--Inputcolor);
}

.toggle-slider:before {
    content: "";
    position: absolute;
    width: 1.8em;
    height: 1.8em;
    left: 0.1em;
    bottom: 0.1em;
    background-color: var(--InputHVRcolor);
    border-radius: 0.8em 0.4em;
    transition: transform 0.4s;
    box-shadow: 0 0.2em 0.4em var(--Background);
}

.toggle-input:checked+.toggle-slider {
    background-color: var(--accent);
}

.toggle-input:checked+.toggle-slider:before {
    transform: translateX(2em);
}

.setting-label {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    padding-right: 1em;
}

.pick-select {
    position: absolute;
    opacity: 0;
    right: 0;
    display: block;
    width: 100vw;
    padding: 0;
    font-size: 4em;
    color: var(--Inputcolor);
    background-color: transparent;
    appearance: none;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.pick-select:focus {
    border-color: var(--accent);
    outline: none;
    box-shadow: 0 0 0.5em var(--accent);
}

.color-picker-container {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: var(--Background); */
    color: var(--Foreground);
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    box-shadow: 0 0.2em 1em var(--Foreground);
    /* z-index: 10; */
    background-color: color-mix(in srgb, var(--Background) 90%, transparent);
    backdrop-filter: blur(0.5em);
    /* Frosted glass effect */
    -webkit-backdrop-filter: blur(0.5em);
    /* Safari support */
}

.color-palette {
    display: flex;
    justify-content: center;
    margin: 1vw;
}

.color-box {
    width: 8vw;
    height: 8vw;
    margin: 0.5vw;
    border: none;
    border-radius: 4vw 2vw;
    cursor: pointer;
    box-shadow: 0 1vw 2vw var(--Foreground);
}

.color-preview {
    width: 10em;
    height: 10em;
    margin: 1em 0;
    border: none;
    border-radius: 5em 2.5em;
    box-shadow: 0 1em 2em var(--Foreground);
    cursor: pointer;
    transition: border-color 0.3s;
}

.color-preview:hover {
    border-color: var(--accent);
}

.color-code {
    font-size: 1em;
    margin: 0.5em 0;
    text-align: center;
}

.slider-input {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 0.5em;
    background-color: var(--InputBGcolor);
    outline: none;
    border-radius: 0.5em 0.25em;
    transition: background-color 0.3s;
}

.slider-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1em;
    height: 1em;
    background: var(--accent);
    cursor: pointer;
    border-radius: 0.5em 0.25em;
    box-shadow: 0 0.2em 0.4em var(--Background);
}

.slider-input::-moz-range-thumb {
    width: 1em;
    height: 1em;
    background: var(--accent);
    cursor: pointer;
    border-radius: 0.5em 0.25em;
    box-shadow: 0 0.2em 0.4em var(--Background);
}

.submenu-window {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    /* background-color: var(--Background); */
    background-color: transparent;
    color: var(--Foreground);
    backdrop-filter: blur(0.5em);
    -webkit-backdrop-filter: blur(0.5em);
}

/* General transition for all screens */
.screen {
    opacity: 0;
    font-size: 0em;
    transition: opacity 1s, font-size 0.3s;
}

/* Active state for all screens */
.screen.activeK {
    opacity: 1;
    font-size: 1em;
}

/* Override for #screen3: No font-size animation */
#screen3 {
    transition: opacity 1s;
    /* Only animate opacity */
    font-size: 1em;
}

#screen3.activeK {
    opacity: 1;
    font-size: 1em;
    /* Font size changes instantly with no animation */
}